
<h2>Your watch lists are here!</h2>


          <div class="card">
            <% @lists.each do |list| %>

            <h2><%= link_to list.name, list_path(list) %></h2>
            <% end %>
              </div>
