<div class="big-box-show-Lists">
  <div class="row d-flex justify-content-center mx-0">
    <div class="col-md-4 mb-4">
      <div class="div-edit-all datas">
        <h1 class="text-center">Edit your List!</h1>
           <%= render 'form', bookmark:@bookmark %>
<%# <% link_to "Delete", edit_list_bookmark_path(@list, @bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-edit-delete" %> %>
      </div>
    </div>
  </div>
</div>
