.h2 {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.h3 {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  color: rgb(7, 7, 7);
  font-size: 15px;
  font-weight: regular;
}
