<nav class="navbar d-flex justify-content-between">
  <!-- Your navbar content goes here -->
  <div class="navbar-title" d-flex>
  <h1><strong>Watch lists<strong></h1>
  </div>
      <ul class="nav-links d-flex">
        <li><%= link_to ' Home ', root_path %></li>
        <li><%= link_to ' Lists ', lists_path %></li>
        <li><%= link_to ' New List ', new_list_path %></li>
       <!-- Add more links as needed -->
      </ul>
</nav>
