.btn btn-warning {
  background-color: #edae56;
  border-color: #171616;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 40px;
}
