.card-body {
  color: #eb0404;
  background-color: rgb(240, 214, 217);
  font-size: 15px;
  font-weight: regular;
  padding: 20px;
  box-shadow: rgba(231, 3, 3, 0.45) 0px 25px 20px -20px;

}
.card {
  color: #eb0404;
  background-color: rgb(240, 214, 217);
  font-size: 15px;
  font-weight: regular;
  padding: 20px;
  box-shadow: rgba(231, 3, 3, 0.45) 0px 25px 20px -20px;
}
