.img-poster {
  width:500px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(38, 37, 37, 0.1);
}
.movie-title {
  font-size: 2.0em;
  font-weight: bold;
  color: hsl(359, 98%, 53%);
}
.movie-content {
  font-size: 1.2em;
  color: #180303;
  left: 5px;
}
.box-poster {
  display: flex;
}
